@font-face {
    font-family: 'dosismedium';
    src: url('dosis-medium-webfont.eot');
    src: url('dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dosis-medium-webfont.woff') format('woff'),
         url('dosis-medium-webfont.ttf') format('truetype'),
         url('dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoRegular';
    src: url('Arvo-Regular-webfont.eot');
    src: url('Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arvo-Regular-webfont.woff') format('woff'),
         url('Arvo-Regular-webfont.ttf') format('truetype'),
         url('Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosislight';
    src: url('dosis-light-webfont.eot');
    src: url('dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('dosis-light-webfont.woff') format('woff'),
         url('dosis-light-webfont.ttf') format('truetype'),
         url('dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*    The Good Stuff */



body {
	font-family: 'dosismedium', sans-serif;
	font-size: 18px;
	background: url(../images/background.png) repeat;
}



a {
	color: #8b8b8b;
	text-decoration: none;
}

a:hover {
	color: #9f9f9f;
}

section {
	clear: both;
}
/* CONTROL CLASSES */

.corpwrapper {
	width: 940px;
	margin: 0px auto;
	padding: 0;
	position: relative;
	left: 10px;
	/*overflow: hidden;*/
}

.portalwrapper {
	width: 980px;
	margin: 0px auto;
	padding: 0;
	position: relative;
	left: 10px;
	overflow: hidden;
}

.index80 {
	z-index: 80;
	position: relative;
	top: -310px;
}

.arvo {
	font-family: 'ArvoRegular', Serif;
}

.left {
	float: left;
}

.right {
	float: right;
}

.currentpage {
	color: #86cc31;
}

/* HEADER */

header {
	background: #fefefe url(../images/headerbg.png) repeat-x;
	height: 110px;
	margin: 10px 0 0 0;
	min-width: 980px;
	overflow: visible;
}

header h1 {
	padding: 0;
	margin: 20px 0 0 0;
}

header #corplogo {
	width: 350px;
	float: left;
}

header #corplogo #cobrand {
	width: 160px;
	float: right;
	display: none;
	margin-top: -45px;
}

header #corpmenu {
	float: right;
	width: 550px;
	margin: 30px 0px 0px 0;
	
}

header #corpmenu ul {
	list-style: none;
	position: relative;
	display: inline-table;
	padding-bottom:7px;
}

header #corpmenu ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

header #corpmenu li {
	font-size: 22px;
	display: inline;
	margin-left: 23px;
	padding-bottom: 10px;
}

header #corpmenu ul ul {
	background: #eee;
	border-radius: 5px;
	width: 200px;
	display: none;
	position: absolute;
	top: 100%;
	z-index: 99999;
	margin:-1px 0px 0px 25px;
	padding: 5px;
	-moz-box-shadow: 0 0 10px -2px #000;
	-webkit-box-shadow: 0 0 10px -2px #000;
	box-shadow: 0 0 10px -2px #000;
}

header #corpmenu li:hover > ul {
	display: block;
}

header #corpmenu ul ul li {
	display: block;
	font-size:18px;
	margin-left: 0px;
	border-bottom: 1px dotted #333;
	padding: 5px;
}

header #corpmenu ul ul li a:hover {
	color:#15a501;
}

header #corpmenu ul ul li.last {
	border-bottom: none;
}

#homepageintro {
	background: #989899;
	margin-top: 0px;
	overflow: hidden;
	height: 140px;
}

#homepageintro.homepage {
	height: 340px;
}

#homepageintro .corpwrapper {
	width: 980px;
	position: relative;
	left: -10px;
}

#homepageintro.webapppage{
	height: 360px;
	overflow: visible;
}

#space {
	height: 300px;
}

/* CONTENT */

section {
	background: #f0f0f0;
	width: 100%;
	min-width: 980px;
	margin: 10px 0 0 0;
	overflow: auto;
}

section .slide {
	z-index: 10;
	position: relative;
}

/*
	-moz-box-shadow: 0 0 20px -3px #000;
	-webkit-box-shadow: 0 0 20px -3px #000;
	box-shadow: 0 0 20px -3px #000;
*/

section #corpmain {
	min-width: 940px;
}

section #corpmain.homepage {
	height: 360px;
}

section #corptitle {
	float: left;
	background: url(../images/greenbg.png) repeat;
	color: #fff;
	position: relative; 
	left: 40px;
	top: -100px;
	padding: 10px;
	z-index: 80;
}

section #corptitle.homepage {
	width: 430px;
	height: 160px;
	top: -290px;
}

section #corptitle.nomaxwidth {
	max-width: auto;
}

section #corptitle h2{
	font-size: 40px;
	margin: 0 0 0 20px;
	padding: 0;
	font-family: 'dosislight';
}

section #corptitle h3{
	font-size: 50px;
	margin: 0 0 0 20px;
	padding: 0;
	font-family: 'dosislight';
	line-height: 40px;
}

section #corptitle h4{
	font-size: 28px;
	margin: 20px 0 0 20px;
	padding: 0;
	color: #497b00;
}

section #corpstart {
	width: 410px;
	height: 210px;
	background: url(../images/bglight.png) repeat;
	float: right;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	padding: 10px;
	position: relative; 
	left: -60px;
	-moz-box-shadow: 0 0 10px 0 #000;
	-webkit-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
}

section #corpstart input, section #corpstartcalc input[type=text]{
	width: 330px;
	height: 33px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 7px 5px 5px 40px;
	display: block;
	margin: 10px auto 20px auto;
	-moz-box-shadow: inset 0 0 5px 0 #000;
	-webkit-box-shadow: inset 0 0 5px 0 #000;
	box-shadow: inset 0 0 5px 0 #000;
	font-size: 22px;
	color: #9a9a9a;
	border: none;
}

section #corpstart input:focus, section #corpstartcalc input[type=text]:focus{
	outline: none;
	-moz-box-shadow: inset 0 0 5px 1px #175300;
	-webkit-box-shadow: inset 0 0 5px 1px #175300;
	box-shadow: inset 0 0 5px 1px #175300;
}

section #corpstart #home, section #corpstartcalc #home {
	background: #fff url(../images/corpsprite.png) no-repeat;
	background-position: 4px -98px;
}

section #corpstart #work, section #corpstartcalc #work {
	background: #fff url(../images/corpsprite.png) no-repeat;
	background-position: 4px -143px;
}

section #corpstartcalc {
	width: 410px;
	height: 280px;
	background: url(../images/bglight.png) repeat;
	float: right;
	position: relative; 
	left: -80px;
	margin-top: -20px;
	overflow: hidden;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-moz-box-shadow: 0 0 10px 0 #000;
	-webkit-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
}

section #corpstartcalc #backbutton {
	width: 150px;
	padding: 7px 5px 5px 5px;
	margin: -10px 0 0 0;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(150,150,150); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(150,150,150,1) 0%, rgba(104,104,104,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,1)), color-stop(100%,rgba(104,104,104,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(104,104,104,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(104,104,104,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(104,104,104,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(150,150,150,1) 0%,rgba(104,104,104,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
	text-align: center;
	text-shadow: -1px -1px #474747;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #474747;
	-moz-box-shadow: 0 1px 0 0 #333;
	-webkit-box-shadow: 0 1px 0 0 #333;
	box-shadow: 0 1px 0 0 #333;
	float: left;
}

section #corpstartcalc #backbutton:hover {
	background: rgb(104,104,104); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(104,104,104,1) 0%, rgba(150,150,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,104,104,1)), color-stop(100%,rgba(150,150,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(150,150,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(150,150,150,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(104,104,104,1) 0%,rgba(150,150,150,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(104,104,104,1) 0%,rgba(150,150,150,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}

section #corpstartcalc #homepagecalctitle {
	z-index: 999; 
	float: left;
	width: 410px;
	height: 280px;
	display: none;
}

section #corpstartcalc #homepagecalctitle h1 {
	color: #fff;
	font-size: 50px;
	margin: 20% 20px;
	text-align: center;
	text-shadow: 0px 0px 5px #666;
	line-height: 40px;
}

section #corpstartcalc #ridezunomics {
	margin: 0px auto;
	width: 410px;
	float: left;
}

section #corpstartcalc #startbutton {
	width: 150px;
	float: right; 
	position: absolute;
	margin: -10px 0 0 0;
	bottom: 10px;
	right: 10px;
}

section #corpstartcalc #wizard1 #startbutton {
	position: relative;
	width: 120px;
	top: -60px;
	right: 0;
	bottom: 0;
}

section #corpstartcalc #wizard2 {
	padding: 0px 10px;
}

section #corpstartcalc #wizard2 #backbutton {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

section #corpstartcalc #wizard1 {
	padding: 0 10px 0 0;
}

section #corpstartcalc p {
	margin: 10px 0;
	padding-bottom:8px;
	line-height:1.3;
}

section #corpstartcalc #home {
	margin-top: 40px;
}

section #maincontent {
	min-height: 180px;
	width: 730px;
	background: #fff;
	margin: 20px 0 20px 0px;
	position: relative;
	padding: 10px;
	overflow: hidden;
}

section #maincontent .displaypicture {
	margin: 5px;
	height: 110px;
	width: 110px;
}

section #maincontent #border {
	background: #fff;
	width: 120px;
	height: 120px;
	margin: 30px 0 0 60px;
	float: left;
	-moz-box-shadow: 0 0 10px -2px #000;
	-webkit-box-shadow: 0 0 10px -2px #000;
	box-shadow: 0 0 10px -2px #000;
}

section #maincontent blockquote img {
	margin: -10px 0 0 -22px;
}

section #maincontent blockquote {
	padding: 5px;
	width: 430px;
	font-size: 24px;
	margin: 30px 60px 5px 0;
}

section #maincontent blockquote p{
	margin: 0;
}

section #maincontent #placestravelled {
	display: block;
	float: left;
	color: #bcbcbc;
	margin-left: 55px;
}

section #maincontent p.place {
	padding: 0 0 0 15px;
	background: url(../images/corpsprite.png) no-repeat;
	background-position: -10px -194px;
	display: inline;
	margin: 0 10px;
}

section #maincontent #testimonial {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	background: #fff;
}

section #maincontent #testimonial.active {
	z-index: 10;
}

section #maincontent #testimonial.last-active {
	z-index: 9;
}

section #maincontent.about img {
	float: left;
	margin: 0 30px 10px 0;
}

section #maincontent.about h3{
	color: #009600;
	margin-bottom: 0;
}

section #maincontent.about h2{
	color: #555555;
}

section #maincontent.about h4{
	color: #555555;
	margin-top: 0;
	position: relative;
	top: -3px;
}

section #maincontent.contact p{
	margin-bottom: 0;
}

section #portalcontent {
	min-height: 180px;
	width: 980px;
	background: #fff;
	margin: 20px 0 20px 0px;
	position: relative;
	padding: 10px;
	overflow: hidden;
}

section #portalcontent .charttitle {
	font-size:25px;
	margin-left:30px;
	}

section #portalcontent .charttitle {
	font-size:25px;
	margin-left:30px;
	}
	
section #portalcontent .summarytable {
	margin-left:50px;
	background: #eeeeee;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
	width:30%;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	}

section #loginbox{
	background:#bae685;
	padding:10px;
	margin-top:10px;
	margin-left:30px;
	margin-bottom:20px;
	width:320px;
	}

section #loginbox div{
	padding:10px 10px 10px 0px;
	}

section #loginbox input{
	width:300px;
	display:block;
	}
	
section #loginbox a{
	display:block;
	text-align:center;
	}
	
section #startbutton {
	width: 200px;
	padding: 7px 5px 5px 5px;
	margin: 10px auto;
	display: block;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #5BC200;
	background-image: linear-gradient(bottom, #5BC200 98%, #12A401 0%, #98F59B 100%);
	background-image: -o-linear-gradient(bottom, #5BC200 98%, #12A401 0%, #98F59B 100%);
	background-image: -moz-linear-gradient(bottom, #5BC200 98%, #12A401 0%, #98F59B 100%);
	background-image: -webkit-linear-gradient(bottom, #5BC200 98%, #12A401 0%, #98F59B 100%);
	background-image: -ms-linear-gradient(bottom, #5BC200 98%, #12A401 0%, #98F59B 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.98, #5BC200),
		color-stop(0, #12A401),
		color-stop(1, #98F59B)
	);
	text-align: center;
	text-shadow: -1px -1px #2b6818;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #2f6a2f;
	-moz-box-shadow: 0 1px 0 0 #2d4a24;
	-webkit-box-shadow: 0 1px 0 0 #2d4a24;
	box-shadow: 0 1px 0 0 #2d4a24;
}

section #startbutton:hover {
	background: #12A401;
	background-image: linear-gradient(bottom, #5BC200 0%, #12A401 100%);
	background-image: -o-linear-gradient(bottom, #5BC200 0%, #12A401 100%);
	background-image: -moz-linear-gradient(bottom, #5BC200 0%, #12A401 100%);
	background-image: -webkit-linear-gradient(bottom, #5BC200 0%, #12A401 100%);
	background-image: -ms-linear-gradient(bottom, #5BC200 0%, #12A401 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #5BC200),
		color-stop(1, #12A401)
	);
}

section #maincontent.contact #startbutton{
	margin: 10px 0 0 0;
	padding: 2px 0 0 0;
}

section #safetycontent ul {
	clear: both;
	list-style-type: none;
}

section #safetycontent li {
	width: 200px;
	float: left;
	margin: 20px 30px 0 0;
	font-size: 16px;
}

section #safetycontent p{
	height: 80px;
}

section #safetycontent img{
	display: block;
	margin: 10px auto;
	width: 115px;
}

section #webappwrapper {
	width: 340px;
	float: right;
	position: relative; 
	left: -103px;
	background: transparent;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	z-index: 100;
}

#ridezuiframe {
	border: none;
}

#navmenu.desktop{
	width: 250px;
	font-size: 0.5em;
	padding: 0;
	float: left;
	position: relative;
	left: 280px;
	top: -280px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 0;
	border-radius: 5px;
	border-top-right-radius: 0;
	overflow: hidden;
	z-index: 98;
	font-family: Helvetica, Arial, Sans-serif;
	opacity: 0;
}

#navmenu.desktop ul{
	padding: 0;
	margin: 0;
}

#navmenu.desktop a {
	padding: 8px 11px;
}

#navmenu.desktop li.first{
	border-top: none;
}

#navmenu.desktop li.last{
	border-bottom: none;
}

/* FIXES FOR MOBILE CSS */

#toolbarnav {
	position: relative;
	width: 340px;
	box-shadow: none;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 10px;
}

#toolbarnav h1{
	padding: 8px 40px 0 0;
	margin: 0;
}

#menu-btn img{
	position: relative;
	top: -5px;
}



/* CONTENT SIDEBAR */

section aside {
	width: 160px;
	padding: 10px;
}

section #corpapplinks {
	height: 180px;
	background: #d3d3d3;
	margin: 20px 0 80px 0;
}

section #corpapplinks h3{
	text-transform: uppercase;
	font-size: 15px;
	margin: 0px;
	font-family: 'dosislight';
	color: #707070;
	text-align: center;
}

section #corpapplinks img{
	clear: both;
	display: block;
	margin: 10px auto;
}

#webapp {
	position: relative;
}


/* HOW IT WORKS PAGE*/

#howitworkscontent {
	min-height: 180px;
	width: 660px;
	background: #fff;
	margin: 0px 0PX 0px 0px;
	position: relative;
	padding: 10px;
	overflow: hidden;
}

#ridezunomics {
	width:280px;
	}

/* RIDEZUNOMICS

.question {
	height: 50px;
	position: relative;
	width: 100%;
	padding-top:20px;
}

.question label {
	clear: left;
    float: left;
    width: 100%;
}

.question .slidercontainer {
	margin-top:7px;
	float: left;
    height: 20px;
    position: relative;
    width: 205px; 
}

.question  input {
    width: 16px;
}

.question .slider {  
    left: 0;
    position: absolute;
    top: 0;
}

.question .slider .circle,
.question .textslider .circle {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #aaa); /* for firefox 3.6+ */    
	border: 1px solid #bbb;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	cursor: pointer;
	height: 20px;
	left: 0;
    position: absolute;
    top: 0;
	width: 20px;
	z-index: 1;
}

.slidervalue {
color:#009600;
float:left;
padding-left:10px;
padding-top:9px;
}
.question .slider .bar,
.question .textslider .bar {
	background: #009600;
	height: 15px;
	left: 0;
    position: absolute;
    top: 2.5px;
	width: 205px;
    border: 1px solid #155d15;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #2064101;
	background: -webkit-gradient(linear, left top, left bottom, from(#0aa600), to(#007b00)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #0aa600,  #007b00); /* for firefox 3.6+ */ 
}


/* FAQ ACCORDION */

#faq-container {
	font-size: 16px;
	padding: 5px 10px 10px 10px;
}

#faq-container p {
	margin: 0 0 5px 0;
}

.faq-header {
	font-size: 20px;
	margin: 5px 0 0 0;
	padding: 5px 30px;
	cursor: pointer;
	color: #666666;
	font-weight: normal;
	padding-bottom: 20px;
}

.active-header {
	background: url(../images/active-header.png) #f0f0f0;
	background-repeat: no-repeat;
	background-position: 3px 11px;
}

.inactive-header {
	background: url(../images/inactive-header.png) #ffffff;
	background-repeat: no-repeat;
	background-position: 3px 11px;
	color: #53b72c;
}

.inactive-header:hover {
	color: #78d753;
}

.faq-content {
	display: none;
	padding: 5px 30px;
	background: #f0f0f0;
}

/* CONFIRM BOX*/

#confirm-background {
	position:fixed; 
	left:0; 
	top:0; 
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.8); 
	display: none;
	z-index: 9999999;
}

#confirm-box {
	display: block; 
	background: #005500; /* Old browsers */
	background: -moz-linear-gradient(top,  #005500 0%, #008c00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005500), color-stop(100%,#008c00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005500 0%,#008c00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005500 0%,#008c00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005500 0%,#008c00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #005500 0%,#008c00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005500', endColorstr='#008c00',GradientType=0 ); /* IE6-9 */
	width: 480px; 
	padding: 10px; 
	margin: 0 auto; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 1.3em;
	overflow: auto;
	border: 1px solid #008c00;
	position: relative;
	top: 20%;
}

#confirm-box h2 {
	margin:0 0 5px 0;
}

#confirm-box p {
	font-size: .9em;
}

#confirm-box a {
	background: #77f122; /* Old browsers */
	background: -moz-linear-gradient(top,  #77f122 0%, #61d313 50%, #59b21b 51%, #5fcc15 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77f122), color-stop(50%,#61d313), color-stop(51%,#59b21b), color-stop(100%,#5fcc15)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #77f122 0%,#61d313 50%,#59b21b 51%,#5fcc15 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #77f122 0%,#61d313 50%,#59b21b 51%,#5fcc15 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #77f122 0%,#61d313 50%,#59b21b 51%,#5fcc15 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #77f122 0%,#61d313 50%,#59b21b 51%,#5fcc15 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77f122', endColorstr='#5fcc15',GradientType=0 ); /* IE6-9 */
	padding: 10px; 
	margin: 10px 5px 0 5px;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	width: 108px;
	float: left;
	font-size: 0.9em;
	text-align: center;
	border: 1px solid #357709;
	text-shadow: 1px 1px 1px #357709;
}

#confirm-box a.cancel {
	background: #38db05; /* Old browsers */
	background: -moz-linear-gradient(top,  #38db05 0%, #26ac02 50%, #207b03 50%, #25a102 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38db05), color-stop(50%,#26ac02), color-stop(50%,#207b03), color-stop(100%,#25a102)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38db05 0%,#26ac02 50%,#207b03 50%,#25a102 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38db05 0%,#26ac02 50%,#207b03 50%,#25a102 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38db05 0%,#26ac02 50%,#207b03 50%,#25a102 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38db05 0%,#26ac02 50%,#207b03 50%,#25a102 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38db05', endColorstr='#25a102',GradientType=0 ); /* IE6-9 */
	border: 1px solid #1c7400;
	text-shadow: 1px 1px 1px #1c7400;
}

#confirm-box a.onlyoption {
	display: block;
	margin-left: 70px;
}

#confirm-box a:hover {
	background: #61d313; 
}


/* FOOTER */

footer {
	clear: both;
	background: #676768;
	-moz-box-shadow: inset 0 6px 10px -6px #000;
	-webkit-box-shadow: inset 0 6px 10px -6px #000;
	box-shadow: inset 0 6px 10px -6px #000;
	padding: 20px 0;
	overflow: auto;
	width: 100%;
	min-width: 980px;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer li {
	display: inline;
	margin: 10px;
}

footer #corpfootermenu {
	display: block;
	margin: 0px auto;
	width: 280px;
}

footer #corpfootermenu a{
	color: #ccc;
}

footer #corpfootermenu a:hover{
	color: #fff;
}

footer #corpsociallinks {
	display: block;
	margin: 20px auto;
	width: 72px;
	position: relative; 
	left: -15px;
	top: -15px;
}

footer #corpsociallinks li {
	margin: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
}

footer #corpsociallinks li:hover {
	position: relative;
	top: 2px;
}

footer #corpsociallinks li.fbicon {
	background: url(../images/corpsprite.png);
	background-position: -9.5px -9.5px;
}

footer #corpsociallinks li.twttricon {
	background: url(../images/corpsprite.png);
	background-position: -9.5px -58.5px;
}

footer p {
	text-align: center;
	color: #a1a1a1;
	font-size: 12px;
	clear: both;
}


/*   Media Queries */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/*   Helper classes */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*    Print styles */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


