		 .popup{
		 position: absolute; 
		 top:25%; 
		 left:10%; 
		 width:80%; 
		 z-index: 150; 
		 background-color: #009600;
		 -moz-border-radius: 10px;
		 border-radius: 10px;
		 padding:10px;
		 margin:0px;
		 opacity:0.9;
		 }
		 .popuptext{
		 font-size:18px;
		 color:#fff;
		 z-index:151;
		 }
		 .footerlink{
		 padding:10px;
		 font-size:12px;
		 color:white;
		 text-decoration:none;
		 display:inline;
		 }
		 .footerbar{
		 padding:10px;
		 font-size:12px;
		 color:white;
		 width:100%;
		 text-align:center;
		 }
		 table {
   		 background:#cccccc;
   		 width:100%;
		 border-spacing:0;
  		 border-collapse:collapse;
  		 }
  		 td {
  		 padding:5px;
  		 }
  		 .pageTitle{
  		 font-weight:bold;
  		 color:#fffff;
  		 width:80%;
  		 padding:10px;
  		 text-align:center;
  		 }
  		 #location{
  		 position: absolute;
  		 top:40px;
  		 left:10%;
  		 width:80%;
  		 z-index:100;
  		 }
  		 .mapselect{
  		 position: absolute;
  		 top:80%;
  		 left:10%;
  		 width:80%;
  		 z-index:100;
  		 }

		.dim {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
		height: 500px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 125;
		}
		.tlink {
		color:#fff;
		}

