*  {
    margin:  0;
    padding:  0;
 }


body  {
    font-family:  Helvetica, Arial, sans-serif;
    font-size:  62.5%;
    line-height:  1;
	color: #424242;
	background:  url(../images/background.png) repeat;
 }
 
a  {
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
    -webkit-touch-callout:  none;
	text-decoration: none;
	color: #424242;
 }

ul, ol, h1, h2, h3, h4, h5, h6, p  {
    display:  block;
 }


#w  {
    position:  relative;
    overflow-x:  hidden;
    overflow-y:  hidden;
	height: 100%;
	min-height:450px;
	color:#424242;
	background:url(../images/background.png) repeat #8b8b8b;
 }

/** @group core body **/
#w #pagebody  {
    position: relative;
    left: 0;
	width: 100%;
    min-width: 320px;
    z-index: 99999;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 100%;
}


#w #navmenu  {
    display: block;
    position: fixed;
    width: 280px;
    left: -280px;
    top: 0px;
    z-index: 0;
    overflow: scroll;
	min-height: 100%;
 }

#w #mainpage {
 
}
 

/** @group header **/
#w #pagebody header#toolbarnav  {
    display: block;
    left: 0px;
    top: 0px;
    z-index: 99;
	background: #83de1f; /* Old browsers */
	background: -moz-linear-gradient(left,  #83de1f 0%, #34b704 50%, #83de1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#83de1f), color-stop(50%,#34b704), color-stop(100%,#83de1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #83de1f 0%,#34b704 50%,#83de1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #83de1f 0%,#34b704 50%,#83de1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #83de1f 0%,#34b704 50%,#83de1f 100%); /* IE10+ */
	background: linear-gradient(to right,  #83de1f 0%,#34b704 50%,#83de1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83de1f', endColorstr='#83de1f',GradientType=1 ); /* IE6-9 */
	border-bottom: 1px solid #48b40f;
	-moz-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
	box-shadow: 0px 0px 5px #333;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
    height: 44px;
    width: 100%;
 }


#w #pagebody header#toolbarnav h1  {
    text-align:  center;
    padding-top:  10px;
    padding-right:  40px;
    color:  #FFF;
    font-weight:  bold;
    font-size:  2.1em;
    text-shadow:  1px 1px 0px #288e05;
}



#w #pagebody header #back-btn  {
    display:  block;
    float:  left;
    width:  43px;
    height:  28px;
    margin-top:  6px;
    margin-left:  8px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	background: #50be00; /* Old browsers */
	background: -moz-linear-gradient(top,  #50be00 0%, #008600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50be00), color-stop(100%,#008600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #50be00 0%,#008600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #50be00 0%,#008600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #50be00 0%,#008600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #50be00 0%,#008600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50be00', endColorstr='#008600',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #008600;
}

#w #pagebody header #back-btn:hover {
	background: #50be00; 
}

#w #pagebody header #menu-btn  {
    display:  block;
    float:  left;
    width:  43px;
    height:  28px;
    margin-top:  6px;
    margin-left:  8px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	background: #50be00; /* Old browsers */
	background: -moz-linear-gradient(top,  #50be00 0%, #008600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50be00), color-stop(100%,#008600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #50be00 0%,#008600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #50be00 0%,#008600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #50be00 0%,#008600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #50be00 0%,#008600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50be00', endColorstr='#008600',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #008600;
}

#w #pagebody header #menu-btn:hover {
	background: #50be00; 
}

#w #pagebody header #back-btn  img{
    width:  21px;
    height:  17px;
	margin: 5px 0 0 11px;
}

#w #pagebody header #menu-btn  img{
    width:  33px;
    height:  24px;
	margin: 2px 0 0 5px;
}

#w #pagebody #precontent {
	width: 93.75%;
	min-width: 300px;
	margin: 10px auto;
	min-height: 80px;
	color: #fff;
	font-size: 1.4em;
}

#w #pagebody #precontent h3{
	text-shadow: 1px 1px #3d3d3d;
}

#w #pagebody #precontent h4{
	padding: 4px 0px 3px 7px;
	font-weight: bold; 
	font-size: 1.4em;
}

#w #pagebody #precontent .routeicon{
	width: 32px;
	height: 32px;
	padding: 10px 0px 10px 10px;
}

#w #pagebody #precontent .darktext{
	color: #ccc;
	padding: 0px 0px 4px 0px;
}

#w #pagebody #precontent #left2 ul{
	list-style-type: none;
	float: right;
	margin-right: 25%;
	margin-top: 4px;
}

#w #pagebody #precontent #right2 ul{
	list-style-type: none;
}

#w #pagebody #precontent #left2 li{
	padding: 0px;
	font-size: 1.1em;
}

#w #pagebody #precontent #left2 li img{
	width: 14px;
	height: 17px;
	padding: 2px 7px 0px 0px;
	position: relative;
	top: 2px;
	left: 2px;
}

#w #pagebody #precontent #right2 li{
	padding: 0px 5px 0px 5px;
	display: inline;
	font-size: 0.8em;
}

#w #pagebody #precontent #right2 img{
	width: 11px;
	position: relative;
	top: 2px;
	left: -3px;
	margin: 0;
	padding: 0;
}

#w #pagebody #precontent #left2 {
	width: 49%;
	float: left;
}

#w #pagebody #precontent #right2 {
	width: 49%;
	float: right;
}

#w #pagebody #aboutme{
	width: 93.75%;
	min-width: 300px;
	margin: 10px auto;
	min-height: 144px;
	color: #fff;
	font-size: 1.4em;
}

#w #pagebody #aboutme #left3 {
	width: 32%;
	float: left;
}

#w #pagebody #aboutme #left3 .displaypicture{
	width: 90%;
	max-width: 95px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#w #pagebody #aboutme #right3 {
	width: 65%;
	float: left;
}

#w #pagebody #aboutme #right3 ul{
	list-style-type: none;
}

#w #pagebody #aboutme #right3 li{
	display: inline;
	float: left;
	padding: 2px 0 0 16px;
	margin: 1px 0 1px 3px;
}

#w #pagebody #aboutme #right3 .quickinfo{
	color: #424242;
	font-size:0.8em;
}

#w #pagebody #aboutme #right3 li.occupation {
	background: url(../images/occupation.png) no-repeat left center;
}

#w #pagebody #aboutme #right3 .location {
	background: url(../images/location.png) no-repeat left center;
}

#w #pagebody #aboutme #right3 .tripnumber {
	background: url(../images/tripnumber.png) no-repeat left center;
}

#w #pagebody #aboutme #right3 .co2saved {
	background: url(../images/co2saved.png) no-repeat left center;
}

#w #pagebody #aboutme #right3 p.quote {
	color: #eee;
	font-style: italic;
	font-size: 0.85em;
	clear: both;
	padding: 5px 0 0 0;
}

#w #pagebody #aboutme #right3 #rating {
	height: 15px;
	width: 72px;
	float: right;
	position: relative;
	top: -20px;
	left: -38px;
}

#w #pagebody #aboutme #right3 #personal {
	clear: both;
	position: relative;
	top: -20px;
}

#w #pagebody #aboutme ul.keyinfo {
	list-style-type: none;
	height: 50px;
	clear: both;
}

#w #pagebody #aboutme .keyinfo li {
	display: inline;
	float: left;
	height: 40px;
	width: 33%;
	margin-right: 0.33%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
}

#w #pagebody .glassbg {
	background: url(../images/glassbackground.png) repeat;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin: 5px 0px 5px 0px;
}

#w #pagebody #aboutme h5.keyinfotitle{
	margin: 5px;
	font-size: 0.7em;
	font-weight: normal;
}

#w #pagebody #aboutme p.keyinfovalue{
	margin: 5px;
	font-weight: bold;
	font-size: 0.9em;
}

#w #pagebody #aboutme li.first{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#w #pagebody #aboutme li.last{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* */

#w #pagebody #content  {
    background: #e9e9e9;
	width: 93.75%;
	min-width: 300px;
	margin: 10px auto;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	box-shadow: 0px 0px 5px #333;
 }

#w #pagebody #content h2  {
    border-bottom: 1px solid #cbced2;
    color: #424242;
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
	font-weight: bold;
 }
 
#w #pagebody #content .inputaddress  {
    border: 1px solid #ddd;
    color: #424242;
    font-size: 1.6em;
    line-height: 1.8em;
	height: 28px;
	width: 83%;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	margin-left: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 7%;
	color: #cdcdcd;
	background: #fff url(../images/placeicon.png) no-repeat left center;
 }
 
 #w #pagebody #content .inputaddress:focus  {
	color: #424242;
 }
 
 #w #pagebody #content .roundedbottom  {
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-radius-bottomleft: 6px;	
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-radius-bottomright: 6px;	
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
 }
 
 #w #pagebody  .primarybutton {
    border: 1px solid #155d15;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: -1px -1px #007000;
	color: #fff;
	height: 44px;
	width: 93.75%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0px 5px 3.125%;
	background: #2064101;
	background: -webkit-gradient(linear, left top, left bottom, from(#0aa600), to(#007b00)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #0aa600,  #007b00); /* for firefox 3.6+ */ 
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
 }

 #w #pagebody  .disabledbutton {
    border: 1px solid #aaaaaa;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: -1px -1px #007000;
	color: #fff;
	height: 44px;
	width: 93.75%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0px 5px 3.125%;
	background: #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#bbbbbb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #cccccc,  #bbbbbb); /* for firefox 3.6+ */ 
	-webkit-box-shadow: 0px 0px 5px #CCC;
	-moz-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
 }


#w #pagebody #content p  {
     font-size:  1.4em;
     line-height:  1.6em;
     margin-bottom:  15px;
     color:  #444;
 }
 


#w #pagebody #content a  {
    color:  #424242;
}
 
#w #pagebody #content a li:hover {
	background: #dcdcdc url(../images/arrow.png) right center no-repeat;
}

#w #pagebody #content a .last:hover {
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

#w #pagebody #content ul {
    list-style-type: none;
	padding: 0px;
}

#w #pagebody #content li {
    font-size: 1.7em;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid #cbced2;
	border-top: 1px solid #fdfdfe;
	background: url(../images/arrow.png) right center no-repeat;
}

#w #pagebody #content .last{
	border-bottom: none;
}

#w #pagebody #content #car {
    width: 29px;
	height: 12px;
	float: right;
	background: #979797;
	margin: 0px 5px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #eee;
	font-weight: normal;
	font-size: 0.7em;
	padding: 4px 5px 3px 0;
	text-align: right;
	background: #979797 url(../images/car.png) no-repeat left top;
}

#w #pagebody #content #person {
    width: 29px;
	height: 12px;
	float: right;
	margin: 0px 5px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #eee;
	font-weight: normal;
	font-size: 0.7em;
	padding: 4px 5px 3px 0;
	text-align: right;
	background: #979797 url(../images/person.png) no-repeat left top;
}

#w #pagebody #content .driver img {
	width: 59px;
	height: 59px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin-right: 20px;
	float: left;
}

#w #pagebody #content .driver {
	font-weight: normal;
	font-size: 1.3em;
	height: 62px;
}

#w #pagebody #content .driver p{
	margin: 15px 0 0 0;
	padding: 0;
	float: left;
}

 
#w #pagebody #content .info li {
    background: transparent;
}

#w #pagebody #content .description p {
    font-size:  0.7em;
    font-weight: normal;
	margin-bottom: 2px;
	color: #6f6e6e;
}
 
#w #pagebody #content .description li {
    background: transparent;
}

#w #pagebody #content .description img {
    width: 100%;
}

#w #pagebody #content  .abouttitle{
    font-size: 1em;
}

#w #pagebody #content .educationtitle{
    font-size: 0.5em;
	text-transform: uppercase;
	color: #bababa;
	margin-bottom: -7px;
	margin-top: 7px;
}

#w #pagebody #content .first{
    border-top: none;
}

#w #pagebody #content .education li{
    border: none;
	margin: 0 0 14px 0;
	padding: 0px;
}

#w #pagebody #content p.educationdescription{
	font-size: 0.4em;
}

#w #pagebody #content .educationsub{
	font-size: 0.5em;
}

#w #pagebody #content #map{
	background: url(../images/map.png) no-repeat;
	width: 100%;
	height: 300px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

#w #pagebody #content #map img{
	width: 32px;
	margin: 260px 0 0 10px;
}

/** @group nav menu **/

#w #navmenu {
    background: #3d3c3d url(../images/bodybackground.png) repeat;
	overflow: scroll;
}

#w #navmenu ul  {
    list-style: none;
}


#w #navmenu ul li  {
    display: block;
	border-top: 1px solid #686868;
	border-bottom: 1px solid #2a2a2a;
}

#w #navmenu ul li  img{
	float: right;
	margin-top: -7px;
}

#w #navmenu ul li a  {
    position: relative;
    display: block;
    padding: 14px 11px;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 1px 1px 1px #222;
    font-size: 1.6em;
    text-decoration: none;
}

#w #navmenu ul li p  {
    position: relative;
    display: block;
    padding: 14px 11px;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 1px 1px 1px #222;
    font-size: 1.6em;
    text-decoration: none;
}

#w #navmenu ul li a:hover  {
    color: #cad0e6;
    text-decoration: none;
}

#w #navmenu ul li .mainnavlink  {
    background: #5b5b5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #4a4a4a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#4a4a4a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#4a4a4a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5b5b5b 0%,#4a4a4a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5b5b5b 0%,#4a4a4a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5b5b5b 0%,#4a4a4a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */

}

#profilephoto
{
width:100px;
height:100px;
}

/* can be deleted on real site */

img.justamockup {
	width: 20% !important;
	margin-left: 40%;
	margin-top: 10px;
}