
/*----------override---------*/

.dropdown-icon {float: left; width: 14%; height:100%;}
.dropdown-icon img {width: 100%; height:27px;}

.brown-block-locator .ui-btn-inner {padding: 2px 0 0 3px !important; text-align: left;}
.brown-block-locator .ui-btn-inner .ui-btn-corner-all {padding: 0 !important;}
.brown-block-locator .ui-select {width: 100%; height: 100%;}
.brown-block-locator .ui-btn ui-btn-icon-right .ui-btn-corner-all .ui-shadow .ui-btn-up-e {height: 100%;}
.brown-block-locator .ui-btn {margin: 0; height: 100%;}

.ui-body-e, .ui-bar-e, .ui-body-c, .ui-dialog.ui-overlay-c { border: none;}

.ui-body-a {background: -moz-linear-gradient(top, #ffffff 43%, #e2ddc8 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,#ffffff), color-stop(100%,#e2ddc8)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ffffff 43%,#e2ddc8 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ffffff 43%,#e2ddc8 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ffffff 43%,#e2ddc8 100%) !important; /* IE10+ */
            background: linear-gradient(top, #ffffff 43%,#e2ddc8 100%) !important; 
            color: #929174 !important;
            border: 1px solid #929174 !important;
            border-radius: 0.6em 0.6em 0.6em 0.6em !important;
            font-family: Helvetica,Arial,sans-serif !important;
            position: fixed !important;
            }

.ui-icon-loading{ background-image: url(Content/themes/base/images/ajax-loader.png) !important;}

.ui-btn-corner-all {border-radius: 2px;}
.ui-shadow {box-shadow: none;}
.ui-btn-up-e, .ui-btn-hover-e {background: #fff; border: 1px solid #bababa;}

.ui-icon {background: none;}
.ui-body-a {text-shadow: none;}