.question {
	height: 50px;
	position: relative;
	width: 100%;
}

.question label {
	clear: left;
    float: left;
    width: 100%;
}

.question .slidercontainer {
	float: left;
    height: 20px;
    position: relative;
    width: 240px;
}

.question  input {
    width: 50px;
}

.question .slider {  
    left: 0;
    position: absolute;
    top: 0;
}

.question .textslider {
	float:left;
}

.question .textslider .togglespan {
	color: #FFFFFF;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 0;
    width: 144px;
}

.question .textslider #selectedvalue {
	display:none;
}

.question .slider .circle,
.question .textslider .circle {
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	left: 0;
    position: absolute;
    top: 0;
	width: 20px;
	z-index: 1;
}

.question .slider .bar,
.question .textslider .bar {
	background: #009600;
	border-radius: 7px;
	height: 15px;
	left: 0;
    position: absolute;
    top: 2.5px;
	width: 240px;
}

.question .textslider .bar {
	width: 144px;
}

#calculateBtn {
	border: 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

#resultspopup {
	display:none;
}